<p>bookform works!</p>
<div class="container">
  <h1>Book-Form</h1>
  <div>
    <span>Book Id: {{ book.bookId + 1 }}</span>
  </div>
  <div>
    <span>Book Title:</span> &nbsp;
    <input type="text" [(ngModel)]="book.title" />
  </div>
  <div>
    <span>Book Author:</span> &nbsp;
    <input type="text" [(ngModel)]="book.author" />
  </div>
  <div>
    <span>Category:</span> &nbsp;
    <input type="text" [(ngModel)]="book.category" />
  </div>
  <div>
    <span>Price:</span> &nbsp;
    <input type="number" [(ngModel)]="book.price" />
  </div>
  <div>
    <span>Published on:</span> &nbsp;<input
      type="text"
      [(ngModel)]="book.publishedDate"
    />
  </div>
  <div><button (click)="saveBook()">Save Book</button></div>
  <div>
    <h3>Preview</h3>
    <p>Book ID: {{ book.bookId }}</p>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Category: {{ book.category }}</p>
    <p>Price: {{ book.price }}</p>
    <p>Published oN:{{ book.publishedDate }}</p>
  </div>
</div>
